<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="/css/estilos.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
</head>
<body>
    <header class="header">
        <div class="header-container1">            
            <div class="search-bar-container">
                <img src="/image/logo-mercado-liebre.svg" width="50%" alt="logo" class="logo">
            </div>
            <div class="form" action="#" method="GET">
                    <div class="input">Buscar productos, marcas y más</div>
                    <div class="submit"><i class="fa fa-search"></i></div>
                </div>
            <p class="buy"><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito</p>
        </div>

        <nav class="navbar">
            <ul>
                <li><a>Ofertas</a></li>
                <li><a>Tiendas Oficiales</a></li>
                <li><a>Vender</a></li>
                <li><a>Ayuda</a></li>
            </ul>

            <ul>
                <li><a href="/register">Creá tu cuenta <i class="far fa-id-card"></i></a></li>
                <li><a href="/login">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
                <li><a>Mis compras <i class="fas fa-shopping-basket"></i></a></li>
            </ul>
        </nav>

        <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div>
    </header>  

    <div>
        <img src="/image/img-home-banner.jpg" width="100%" alt="banner">
    </div>  
     
    <main>
        <div class="products-section">
            <section>
                <h2>Basado en tu última visita</h2>
                <div class="products-list">
                    <article class="article-product"> 
                        <img src="/image/img-cafetera-moulinex.jpg" width="100%" alt="Cafetera">
                       <div class="box">
                            <div class="truck"><i class="fas fa-truck"></i></div>
                            <div class="price-percent">
                                <p class="price">$6.770</p>
                                <p class="percent">40% off</p>
                            </div>
                            <p class="description">Cafetera Moulinex</p>
                       </div>
                    </article>
    
                    <article class="article-product"> 
                        <img src="/image/img-macbook-pro-2019.jpg" width="100%" alt="MacBook">
                        <div class="box">
                            <div class="truck"><i class="fas fa-truck"></i></div>
                            <div class="price-percent">
                                <p class="price">$230.000</p>
                                <p class="percent">20% off</p>
                            </div>
                            <p class="description">MacBook Pro 2019</p>
                        </div>
                    </article>
    
                    <article class="article-product"> 
                        <img src="/image/img-samsung-galaxy-s10.jpg" width="100%" alt="Samsung Galaxy">
                        <div class="box">
                            <div class="truck"><i class="fas fa-truck"></i></div>
                            <div class="price-percent">
                                <p class="price">$70.500</p>
                                <p class="percent">10% off</p>
                            </div>
                            <p class="description">Samsung Galaxy S10</p>
                        </div>
                    </article>
    
                    <article class="article-product"> 
                        <img src="/image/img-tv-samsung-smart.jpg" width="100%" alt="SmartTv">
                        <div class="box">
                            <div class="truck"><i class="fas fa-truck"></i></div>
                            <div class="price-percent">
                                <p class="price">$23.200</p>
                                <p class="percent">5% off</p>
                            </div>
                            <p class="description">SmartTv Samsung 43"</p>
                        </div>
                    </article>
                </div>
            </section>

            <section>
                <h2>Sección de Ofertas</h2>
                
                <div class="products-list">
                    <article class="article-product"> 
                        <img src="/image/img-cafetera-moulinex.jpg" width="100%" alt="Cafetera">
                        <div class="box">
                            <div class="truck"><i class="fas fa-truck"></i></div>
                            <div class="price-percent">
                                <p class="price">$6.770</p>
                                <p class="percent">40% off</p>
                            </div>
                            <p class="description">Cafetera Moulinex</p>
                       
                        </div>
                    </article>
                    <article class="article-product"> 
                        <img src="/image/img-macbook-pro-2019.jpg" width="100%" alt="MacBook">
                        <div class="box">
                            <div class="truck"><i class="fas fa-truck"></i></div>
                            <div class="price-percent">
                                <p class="price">$230.000</p>
                                <p class="percent">20% off</p>
                            </div>
                            <p class="description">MacBook Pro 2019</p>
                        </div>
                    </article>
    
                    <article class="article-product"> 
                        <img src="/image/img-samsung-galaxy-s10.jpg" width="100%" alt="Samsung Galaxy">
                        <div class="box">
                            <div class="truck"><i class="fas fa-truck"></i></div>
                            <div class="price-percent">
                                <p class="price">$70.500</p>
                                <p class="percent">10% off</p>
                            </div>
                            <p class="description">Samsung Galaxy S10</p>
                        </div>
                    </article>
    
                    <article class="article-product"> 
                        <img src="/image/img-tv-samsung-smart.jpg" width="100%" alt="SmartTv">
                        <div class="box">
                            <div class="truck"><i class="fas fa-truck"></i></div>
                            <div class="price-percent">
                                <p class="price">$23.200</p>
                                <p class="percent">5% off</p>
                            </div>
                            <p class="description">SmartTv Samsung 43"</p>
                        </div>
                    </article>
                </div>
            </section>
        </div>
    </main>
    <footer>
        <div class="footer-container">
            <section class="footer-style">
                <i class="fas fa-credit-card icon-footer"></i>
                <h2 class="footer-content">Pagá con tarjeta o en efectivo</h2>
                <p class="footer-content">Con MercadoLiebreCash tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y es siempre seguro!</p>
            </section>

            <section class="footer-style">
                <i class="fas fa-gift icon-footer"></i>
                <h2 class="footer-content">Envío gratis desde $ 2.500</h2>
                <p class="footer-content">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
            </section>

            <section class="footer-style">
                <i class="fas fa-user-shield icon-footer"></i>
                <h2 class="footer-content">Seguridad, de principio a fin</h2>
                <p class="footer-content">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
            </section>
        </div>
        <section>
            <h2 class="footer-copyright">Copyright © 1999-2020 MercadoLiebre S.R.L.</h2>
        </section>
    </footer>
</body>
</html>